* {
    margin: 0px;
    padding: 0px;
}

html {
    scroll-behavior: smooth;
}

/* navigation bar */
#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    position: sticky;
    top: 0px;
}

#navbar::before {
    content: "";
    background-color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 1;
    box-shadow: 2px 2px 5px black;
}

#logo {
    margin: 5px 14px;

}

#logo img {
    margin: 6px 15px;
    height: 63px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px green;
}

#leftnav {
    display: flex;
}

#leftnav li {
    list-style: none;
    font-size: 1.6rem;
    text-shadow: 2px 2px 7px lightgrey;
}

#leftnav li a {
    display: block;
    padding: 3px 25px;
    text-decoration: none;
    color: black;
    font-family: 'Montserrat', sans-serif;
}

#leftnav li a:hover {
    color: lightblue;
    text-decoration: overline;
}

#rightnav {
    display: flex;
}

#rightnav button {
    padding: 15px 20px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    font-size: 1.3rem;
    font-family: 'Montserrat', sans-serif;
    background-color: #C3F8FF;
    color: rgb(0, 0, 0);
}

#rightnav button:hover {
    background-color: cyan;
}

/* client-section */
#client-section {
    margin: 0;
    background-color: #CDFCF6;
}

#clients {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-left: 35px;
    padding-bottom: 4rem;
    align-items: center;
}

#clients img {
    height: 120px;
    border-radius: 4rem;
}

.client-item {
    padding: 25px 20PX;
}

h3 {
    font-size: 1.5rem;
    padding-top: 5px;
    padding-right: 25px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.heading {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    padding: 2rem;
}

a {
    text-decoration: none;
    color: black;
}