* {
    margin: 0px;
    padding: 0px;
}

html {
    scroll-behavior: smooth;
}

/* navigation bar */
#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    position: sticky;
    top: 0px;
}

#navbar::before {
    content: "";
    background-color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 1;
    box-shadow: 2px 2px 5px black;
}

#logo {
    margin: 5px 12px;

}

#logo img {
    margin: 6px 15px;
    height: 63px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px green;

}

#leftnav {
    display: flex;


}

#leftnav li {
    list-style: none;
    font-size: 1.6rem;
    text-shadow: 2px 2px 7px lightgrey;
}

#leftnav li a {
    display: block;
    padding: 3px 25px;
    text-decoration: none;
    color: black;
    font-family: 'Montserrat', sans-serif;
}

#leftnav li a:hover {
    color: lightblue;
    text-decoration: overline;
}

#rightnav {
    display: flex;
}

#rightnav button {
    padding: 15px 20px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    font-size: 1.3rem;
    font-family: 'Montserrat', sans-serif;
    background-color: #C3F8FF;
    color: rgb(0, 0, 0);
}

#rightnav button:hover {
    background-color: cyan;
}

/* contact section */
#contact {
    position: relative;
    margin: 10px;
    padding: 10px;
    background-color: #CDF0EA;
    border-radius: 5px;

}

#contact::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.87;
}

#contact-box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 34px;

}

#contact-box input,
#contact-box textarea {
    padding: 0.3rem;
    width: 100%;
    border-radius: 6px;
    font-size: 1rem;
}

input[type=email],
input[type=name],
input[type=phone] {
    margin-top: 5px;
}


#contact-box form {
    width: 33%;
}

#contact-box label {
    font-size: 1.2rem;
    color: white;
    font-family: 'Montserrat', sans-serif;
}