* {
    margin: 0px;
    padding: 0px;
}

html {
    scroll-behavior: smooth;
}

/* navigation section */
#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    position: sticky;
    top: 0px;
}

#navbar::before {
    content: "";
    background-color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 1;
    box-shadow: 2px 2px 5px black;
}

#logo {
    margin: 5px 14px;

}

#logo img {
    margin: 6px 15px;
    height: 63px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px green;

}

#leftnav {
    display: flex;


}

#leftnav li {
    list-style: none;
    font-size: 1.6rem;
    text-shadow: 2px 2px 7px lightgrey;
}

#leftnav li a {
    display: block;
    padding: 3px 25px;
    text-decoration: none;
    color: black;
    font-family: 'Montserrat', sans-serif;
}

#leftnav li a:hover {
    color: lightblue;
    text-decoration: overline;
}

#rightnav {
    display: flex;
}

#rightnav button {
    padding: 15px 20px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    font-size: 1.3rem;
    font-family: 'Montserrat', sans-serif;
    background-color: #C3F8FF;
    color: rgb(0, 0, 0);
}

#rightnav button:hover {
    background-color: cyan;
}

/* services section */
.main-container {
    border: none;
    margin: 0;
    padding: 25px;
    background-color: #EFF8FF;
}

#services-container {
    background-color: #CDFCF6;
    padding: 15px;
    margin-top: 25px;
    box-shadow: 0 1px 3px rgb(36 39 44 / 15%);
    border-radius: 5px;
}

.first {
    font-size: 2rem;
    padding-left: 30px;
    margin: 10px;
}

#services {
    margin: 25px 30px;
    display: flex;
    justify-content: center;

}

#services .box {
    border: none;
    padding: 15px;
    margin: 2px 5px;
}

.box:hover {
    box-shadow: 0px 2px 1px 1px rgba(0, 0, 0, 0.3);
}

#services img {
    padding: 0px;
    height: 15rem;
    margin: auto;
    margin-bottom: 10px;
    display: block;
}

#services p {
    font-family: 'Montserrat', sans-serif;
}

.car_name {
    font-size: 1.2rem;
    color: black;
    font-weight: normal;
    font-family: roboto, Sans-Serif, Arial;
    padding: 10px;
    text-decoration: none;
}

.price {
    font-size: 1.3rem;
    text-align: left;
    font-weight: normal;
    font-family: roboto, Sans-Serif, Arial;
    padding: 10px;
}

/* service section-2 */
.main-container-2 {
    border: none;
    margin: 0;
    padding: 25px;
    padding-bottom: 50px;
    background-color: #EFF8FF;
}

#services-container-2 {
    background-color: #CDFCF6;
    padding: 15px;
    box-shadow: 0 1px 3px rgb(36 39 44 / 15%);
    border-radius: 5px;
}

.first-2 {
    font-size: 2rem;
    padding-left: 30px;
    margin: 10px;
}

#services-2 {
    margin: 25px 30px;
    display: flex;
    justify-content: center;

}

#services-2 .box-2 {
    border: none;
    padding: 15px;
    margin: 2px 5px;
}

.box-2:hover {
    box-shadow: 0px 2px 1px 1px rgba(0, 0, 0, 0.3);
}

#services-2 img {
    padding: 0px;
    padding-bottom: 10px;
    height: 15rem;
    margin: auto;
    display: block;
}

#services-2 p {
    font-family: 'Montserrat', sans-serif;
}

hr {
    border: none;
    border-top: dotted;
    width: 6%;
    border-width: 8px;
    margin: auto;
    margin-top: 40px;
    color: #324141;

}