* {
    margin: 0px;
    padding: 0px;
}

html {
    scroll-behavior: smooth;
}

/* navigation bar */
#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    position: sticky;
    top: 0px;
}

#navbar::before {
    content: "";
    background-color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 1;
    box-shadow: 2px 2px 5px black;
}

#logo {
    margin: 5px 12px;

}

#logo img {
    margin: 6px 15px;
    height: 63px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px green;

}

#leftnav {
    display: flex;
}

#leftnav li {
    list-style: none;
    font-size: 1.6rem;
    text-shadow: 2px 2px 7px lightgrey;
}

#leftnav li a {
    display: block;
    padding: 3px 25px;
    text-decoration: none;
    color: black;
    font-family: 'Montserrat', sans-serif;
}

#leftnav li a:hover {
    color: #31E1F7;
    text-decoration: overline;
}

#rightnav {
    display: flex;
}

#rightnav button {
    padding: 15px 20px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    font-size: 1.3rem;
    font-family: 'Montserrat', sans-serif;
    background-color: #C3F8FF;
    color: rgb(0, 0, 0);
}

#rightnav button:hover {
    background-color: cyan;
}

/* home section */

#home {
    display: flex;
    align-items: center;
    height: 100%;
    background-color: #BFFFF0;
}

#home img {
    margin: 8px 16px;
    height: 70%;
    width: 60%;
    padding-bottom: 20px;
}

.home-text {
    font-family: cursive;
    font-size: 3.3rem;
    padding: 10px;
    color: #1A1A40;
    text-align: center;
}


/* client-section */
#client-section {
    margin: 0;
    background-color: #CDFCF6;
}

#clients {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-left: 35px;
    padding-bottom: 4rem;
    align-items: center;
}

#clients img {
    height: 120px;
    border-radius: 4rem;
}

.client-item {
    padding: 25px 20PX;
}

h3 {
    font-size: 1.5rem;
    padding-top: 5px;
    padding-right: 25px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.heading {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    padding: 2rem;
}

a {
    text-decoration: none;
    color: black;
}

/* services section */
.main-container {
    border: none;
    margin: 0;
    padding: 25px;
    background-color: #EFF8FF;
}

#services-container {
    background-color: #CDFCF6;
    padding: 15px;
    margin-top: 5rem;
    box-shadow: 0 1px 3px rgb(36 39 44 / 15%);
    border-radius: 5px;
}

.first {
    font-size: 2rem;
    padding-left: 30px;
    margin: 10px;
}

#services {
    margin: 25px 30px;
    display: flex;
    justify-content: center;

}

#services .box {
    border: none;
    padding: 15px;
    margin: 2px 5px;
}

.box:hover {
    box-shadow: 0px 2px 1px 1px rgba(0, 0, 0, 0.3);
}

#services img {
    padding: 0px;
    height: 15rem;
    margin: auto;
    margin-bottom: 10px;
    display: block;
}

#services p {
    font-family: 'Montserrat', sans-serif;
}

.car_name {
    font-size: 1.2rem;
    color: black;
    font-weight: normal;
    font-family: roboto, Sans-Serif, Arial;
    padding: 10px;
    text-decoration: none;
}

.price {
    font-size: 1.3rem;
    text-align: left;
    font-weight: normal;
    font-family: roboto, Sans-Serif, Arial;
    padding: 10px;
}

/* service section-2 */
.main-container-2 {
    border: none;
    margin: 0;
    padding: 25px;
    padding-bottom: 50px;
    background-color: #EFF8FF;
}

#services-container-2 {
    background-color: #CDFCF6;
    padding: 15px;
    box-shadow: 0 1px 3px rgb(36 39 44 / 15%);
    border-radius: 5px;
}

.first-2 {
    font-size: 2rem;
    padding-left: 30px;
    margin: 10px;
}

#services-2 {
    margin: 25px 30px;
    display: flex;
    justify-content: center;

}

#services-2 .box-2 {
    border: none;
    padding: 15px;
    margin: 2px 5px;
}

.box-2:hover {
    box-shadow: 0px 2px 1px 1px rgba(0, 0, 0, 0.3);
}

#services-2 img {
    padding: 0px;
    padding-bottom: 10px;
    height: 15rem;
    margin: auto;
    display: block;
}

#services-2 p {
    font-family: 'Montserrat', sans-serif;
}

hr {
    border: none;
    border-top: dotted;
    width: 6%;
    border-width: 8px;
    margin: auto;
    margin-top: 40px;
    color: #324141;

}

/* contact section */
#contact {
    margin: 0;
    background-color: #CDF0EA;
    padding: 20px;
}

.h-primary {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    padding-top: 20px;

}

.contact_img {
    padding: 10px;
    padding-left: 6rem;
    height: 25rem;
}

#contact-box {
    float: right;
    padding: 50px 120px;
}

#contact-box {
    width: 37%;
}

#contact-box input[type=email],
input[type=text],
input[type=phone],
#contact-box textarea {
    padding: 0.4rem;
    margin-top: 8px;
    width: 100%;
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
}

.submit {
    text-align: center;
}

input[type=submit] {
    padding: 10px 30px;
    margin-top: 10px;
    margin-bottom: 0;
    border: none;
    font-size: 20px;
    background-color: #A3C7D6;
    color: black;
    border-radius: 15px;
    cursor: pointer;
    transition: all .5s;
}

input[type=submit]:hover {
    background-color: #9F73AB;
}






/* footer */
footer {
    background-color: black;
    color: white;
    padding: 9px 20px;
}

.center {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}